.card {
  background: #323232;
  border: solid #555555 1px;
  border-radius: 15px;
  box-shadow: 0 0 20px -5px black;
  display: grid;
  width: 350px;
  height: 300px;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
