.card__button {
  width: 120px;
  height: 30px;
  background: #212121;
  border: solid #555555 1px;
  border-radius: 5px;
  position: absolute;
  left: 115px;
  bottom: 30px;
  box-shadow: 0 0 8px -2px black;
  text-decoration: none;
  color: white;
}

.card__bookmark {
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  right: 10px;
  top: -15px;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2px;
}

.hidden {
  background: #545454;
  border: solid #888888 1px;
  border-radius: 50%;
  box-shadow: 0 0 20px -5px black;
  padding: 2px;
}
