.navigation {
  position: fixed;
  display: grid;
  width: 100vw;
  height: 48px;
  background-color: #323232;
  gap: 1px;
  bottom: 0;
  grid-template-columns: repeat(4, 1fr);
  border-top: solid #323232 1px;
}

.navigation__button {
  background: #212121;
  border: 0;
}

.navigation__image {
  width: 30px;
  height: 30px;
}
