.quiz__cards {
  display: grid;
  overflow-y: auto;
  gap: 20px;
  justify-content: center;
  padding: 65px 0;
}

/* @media (min-width: 376px) {
  .quiz__cards {
    grid-template-columns: 1fr 1fr;
  }
} */
