.quiz__title {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

h1 {
  color: #219741;
  font-weight: 900;
  font-size: large;
  margin: 10px;
  padding: 0;
}

.pineapple--right {
  transform: rotate(90deg);
  margin: 10px;
}

.pineapple--left {
  transform: rotate(-90deg);
  margin: 10px;
}
